.navbar-dark .navbar-nav .nav-link {
    color: #dc3545;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.btn-outline-dark{
    color: #dc3545;
    border-color: #dc3545;
}
#hero{
    width: 100%;
    height: 100vh;
    background: url(../img/bg/fon1.jpg) fixed top center;
    background-size: cover;
    position: relative;
}
#hero::before{
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    top: 0;
}
#hero .container{
    position: relative;
    padding-top: 75px;
}
#hero h1{
    text-transform: uppercase;
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
#hero h2{
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}
#hero .icon-box h3{
    font-weight: 700;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
}
#hero .icon-box h3 a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
#hero .icon-box h3 a:hover{
    text-transform: uppercase;
    color: #dc3545 ;
}
@keyframes phone-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes btn_phone_circle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

@keyframes btn_phone_circle2 {
    0% {
        opacity: 0.2;
        transform: scale(0.7);
    }

    30% {
        opacity: 1;
        transform: scale(1.3);
    }

    100% {
        opacity: 0.2;
        transform: scale(1.6);
    }
}

.vrap{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.btn_phone_vrap {
    position: relative;
}
.btn_phone{
    background: #dc3545 url(../img/icons/phonef.png) center center no-repeat;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    animation: phone-rotate 1s infinite alternate linear;
}
.btn_phone_circle {
    height: 60px;
    width: 60px;
    border: 8px solid #dc3545;
    opacity: 0.4;
    border-radius: 60px;
    animation: btn_phone_circle 1.4s infinite alternate linear;
}
.btn_phone_circle2{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    border: 1px solid #dc3545;
    border-radius: 60px;
    animation: btn_phone_circle2 3s infinite ease-out;
}

.text-promo{
    color: #fff;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    font-family: raleway,sans-serif;
    overflow-x: hidden;
    opacity: 1;
}
.promosalon{
    max-width: 100%;
    object-fit: cover;
}
.icon-box{
    padding: 30px 20px;
    border: 1px solid rgba(255,255,255, 0.3);
    height: 100%;
    text-align: center;
}
.icon-box:hover{
    border-color: #dc3545 ;
}
.about li{
    list-style-type: none;
}
.cta {
    background: linear-gradient(rgba(2,2,2, 0.5), rgba(2,2,2, 0.8)), url(../img/bg/fon1.jpg) fixed center center;
    padding: 80px 0;
    color: #fff;
}
.cta h3{
    font-weight: 700;
    font-size: 28px;
}
.cta-btn{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border: 2px solid #dc3545;
    border-radius: 4px;
    color: #dc3545;
    margin-top: 10px;
    text-decoration: none;
}
.cta-btn:hover{
    background: #dc3545;
    border-color: #dc3545;
    color: #fff;
    text-decoration: none; 
}
.carousel-indicators{
   bottom: -80px;
}
.carousel-indicators li{
    background-color: #dc3545;
}

.ots {
    display: flex;
    justify-content: center;
}
.name{
    display: flex;
    justify-content: center;
    margin-top: 23px;
}
.ots_text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 18px;   
}
.team{
    padding: 60px;
}
.team .member{
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
}
.team .member .member-img{
    position: relative;
    overflow: hidden;
}
.team .member .social{
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3;
}
.team .member .social a{
    transition: color 0.3;
    color: royalblue;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background: rgba(255,255,255, 0.8);
    display: inline-block;
}
.team .member .social a:hover{
    background: #dc3545;
}
.team .member .member-info{
    padding: 25px 15px;
}
.team .member .member-info h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}
.team .member .member-info span{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: blue;
}
.team .member .member-info p{
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    color: #777;
}
.team .member:hover .social{
    opacity: 1;
    bottom: 15px;
}

.services .icon-box{
    border: 1px solid #dc3545;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
   
}
.services .icon-box .icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #dc3545;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-bottom: 20px;
}
.services .icon-box h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.services .icon-box p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.services .icon-box:hover{
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}
.services .services-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



.contact .info .info-icon{
    background: #dc3545;
    float: left;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
}
.contact .info h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contact .info p{
    font-size: 14px;
    padding: 0 0 0 60px;
}
.footer-top{
    background: #151515;
    color: #fff;
    border-bottom: 1px solid #222;
    padding: 60px 0 30px 0;
}
.contact-text{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.footer-top .footer-info{
    margin-bottom: 3px;
}
.footer-top .footer-info h3{
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-top .footer-info p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer-top .social-links .logo{
    display: inline-block;
}
.footer-top .social-links a{
    width: 36px;
    height: 36px;
    background: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 34px;
    text-align: center;
    text-decoration: none;
}
.footer-top .social-links a:hover{
    background: #292929;
}
.footer-top  h4{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}
.footer-links{
    margin-bottom: 30px;

}
.footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer-links li a{
    color: #dc3545;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-links li a:hover{
    color: #fff;
}
form-footer{
    margin-top: 30px;
    padding: 6px 10px;
    border-radius: 4px;
}

